<section class="hero">
  <div class="hero-body pt0">
    <div class="container">
      <div class="tabs is-toggle is-fullwidth">
        <ul>
          <li [ngClass]="{'is-active' : cheapestTabSelected}" (click)="onCheapestFilterClicked($event)">
            <a>
              <span class="icon is-small">
                <i class="fa fa-money" aria-hidden="true"></i>
              </span>
              <span>Cheapest</span>
            </a>
          </li>
          <li [ngClass]="{'is-active' : fastestTabSelected}" (click)="onFastestFilterClicked($event)">
            <a>
              <span class="icon is-small">
                <i class="fa fa-fighter-jet" aria-hidden="true"></i>
              </span>
              <span>Fastest</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>