<section class="hero">
  <div class="hero-body pt0">
    <div class="container">

      <div class="columns">
        <div class="column is-half">
          <div class="field">
            <label class="label">From</label>
            <p class="control has-icons-left">
              <span class="select is-primary is-medium w100">
                <select class="w100" [(ngModel)]="departureSelected" (change)="onChangeCity();">
                  <option *ngFor="let departure of departureList" [value]="departure">{{departure}}</option>
                </select>
              </span>
              <span class="icon is-small is-left">
                <i class="fa fa-circle-o" aria-hidden="true"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-half">
          <div class="field">
            <label class="label">To</label>
            <p class="control has-icons-left">
              <span class="select is-primary is-medium w100">
                <select class="w100" [(ngModel)]="arrivalSelected" (change)="onChangeCity();">
                  <option *ngFor="let arrival of arrivalList" [value]="arrival">{{arrival}}</option>
                </select>
              </span>
              <span class="icon is-small is-left">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>