/** CSS HELPERS **/
.p0{
    padding: 0rem!important;
}
.pt0{
    padding-top: 0!important;
}
.mb3{
    margin-bottom: 3rem!important;
}
.mbpoint6{
    margin-bottom: .6rem!important;
}
.w100{
    width: 100%!important;
}
.w50{
    width: 50%!important;
}
/** BULMA CSS FRAMEWORK OVERWRITE **/
.tabs.is-toggle li.is-active a{
    background-color: #00d1b2;
    border-color: #00d1b2;
}