.amsterdam-bg{
    background-image: url(/assets/img/cities/Amsterdam.jpg);
    background-size: cover;
}
.athens-bg{
    background-image: url(/assets/img/cities/Athens.jpg);
    background-size: cover;
}
.brussels-bg{
    background-image: url(/assets/img/cities/Brussels.jpg);
    background-size: cover;
}
.budapest-bg{
    background-image: url(/assets/img/cities/Budapest.jpg);
    background-size: cover;
}
.geneva-bg{
    background-image: url(/assets/img/cities/Geneva.jpg);
    background-size: cover;
}
.istanbul-bg{
    background-image: url(/assets/img/cities/Istanbul.jpg);
    background-size: cover;
}
.kiev-bg{
    background-image: url(/assets/img/cities/Kiev.jpg);
    background-size: cover;
}
.lisbon-bg{
    background-image: url(/assets/img/cities/Lisbon.jpg);
    background-size: cover;
}
.london-bg{
    background-image: url(/assets/img/cities/London.jpg);
    background-size: cover;
}
.madrid-bg{
    background-image: url(/assets/img/cities/Madrid.jpg);
    background-size: cover;
}
.moscow-bg{
    background-image: url(/assets/img/cities/Moscow.jpg);
    background-size: cover;
}
.paris-bg{
    background-image: url(/assets/img/cities/Paris.jpg);
    background-size: cover;
}
.prague-bg{
    background-image: url(/assets/img/cities/Prague.jpg);
    background-size: cover;
}
.rome-bg{
    background-image: url(/assets/img/cities/Rome.jpg);
    background-size: cover;
}
.stockholm-bg{
    background-image: url(/assets/img/cities/Stockholm.jpg);
    background-size: cover;
}
.warsaw-bg{
    background-image: url(/assets/img/cities/Warsaw.jpg);
    background-size: cover;
}
.card .img-container{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 5px solid;
}
.bus.card .img-container{
    border-top-color: #7D7ABC;
}
.plain.card .img-container{
    border-top-color: #6457A6;
}
.car.card .img-container{
    border-top-color: #EF767A;
}
.train.card .img-container{
    border-top-color: #E8CF41;
}
.bus.card .card-content{
    background-color: #7D7ABC;
}
.plain.card .card-content{
    background-color: #6457A6;
}
.car.card .card-content{
    background-color: #EF767A;
}
.train.card .card-content{
    background-color: #E8CF41;
}
.card{
    border-radius: 5px;
}
.card, .box{
    box-shadow: 4px 4px 30px #c3c3c3;
}
.card-content{
    color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.card .hero-body{
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(102, 102, 153, 0.6));
}
.box .columns{
    display: inline-flex;
}
.cost-not-discounted{
    text-decoration: line-through;
    font-size: 1rem;
}
.box{
    border-top: 5px solid #00d1b2;
}
.total{
    margin-top: 2.25rem;
    margin-bottom: 1rem;
}
.total-duration, .total-cost{
    font-size: 1.75rem;
}
.route-list-container{
    margin-bottom: 1.25rem;
}
.route-list {
    list-style: none;
}
.route-list >li {
    position: relative;
}
.route-list>li:before {
    content: '\25CF';
    margin-right: 0.625rem;
    font-size: 20px;
}
.route-list .route-list-icon:before {
    content: '';
}
.route-list-icon{
    padding-left: 0.750rem;
}
.route-list>li:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    border-left: 2px solid black;
    margin-left: 0.313rem;
    height: 100%;
}
.route-list >li:first-of-type:after {
    top: -50%;
}
.route-list >li:last-of-type:after {
    top: -50%;
}
.route-list .first-element-route:after{
    top: 50% !important;
}