.amsterdam-bg{
    background-image: url(/assets/img/cities/Amsterdam.jpg);
    background-size: cover;
}
.athens-bg{
    background-image: url(/assets/img/cities/Athens.jpg);
    background-size: cover;
}
.brussels-bg{
    background-image: url(/assets/img/cities/Brussels.jpg);
    background-size: cover;
}
.budapest-bg{
    background-image: url(/assets/img/cities/Budapest.jpg);
    background-size: cover;
}
.geneva-bg{
    background-image: url(/assets/img/cities/Geneva.jpg);
    background-size: cover;
}
.istanbul-bg{
    background-image: url(/assets/img/cities/Istanbul.jpg);
    background-size: cover;
}
.kiev-bg{
    background-image: url(/assets/img/cities/Kiev.jpg);
    background-size: cover;
}
.lisbon-bg{
    background-image: url(/assets/img/cities/Lisbon.jpg);
    background-size: cover;
}
.london-bg{
    background-image: url(/assets/img/cities/London.jpg);
    background-size: cover;
}
.madrid-bg{
    background-image: url(/assets/img/cities/Madrid.jpg);
    background-size: cover;
}
.moscow-bg{
    background-image: url(/assets/img/cities/Moscow.jpg);
    background-size: cover;
}
.paris-bg{
    background-image: url(/assets/img/cities/Paris.jpg);
    background-size: cover;
}
.prague-bg{
    background-image: url(/assets/img/cities/Prague.jpg);
    background-size: cover;
}
.rome-bg{
    background-image: url(/assets/img/cities/Rome.jpg);
    background-size: cover;
}
.stockholm-bg{
    background-image: url(/assets/img/cities/Stockholm.jpg);
    background-size: cover;
}
.warsaw-bg{
    background-image: url(/assets/img/cities/Warsaw.jpg);
    background-size: cover;
}
